.App {
  height: 100vh;
  background-color: #1a202c;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
}

.gif-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.gif-item:hover img {
  opacity: 0.3;
  cursor: pointer;
}

.gif-item:hover .gif-description {
  opacity: 1;
  cursor: pointer;
}

.gif-description {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.gif-description .text {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px;
}

.connected-container input[type='text'] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-divs {
  display: flex;
  justify-content: center;
  height: 85%;
  width: 95%;
}

.modal-content-container {
  width: 85%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-content .modal-image-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content .modal-image {
  width: 100%;
  height: auto;
}

.modal-items {
  background-color: #fffffa;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-actions-container {
  background-color: #ffffff;
  width: 100%;
  height: 95%;
  padding: 1%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.modal-actions-container .title-container {
  width: 100%;
  border-bottom: solid thin #DFDFDF;
}

.modal-actions-container .title {
  font-size: 1.2em;
  padding: 3%;
}

.modal-actions-container .comments-container {
  width: 100%;
  height: 100%;
  padding: 20px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-actions-container .single-comment-container {
  padding-bottom: 25px;
}

.single-comment {
  padding: 0 10px;
  white-space: pre-wrap;
  text-align: left;
}

.single-comment-wallet-addr {
  display: inline;
  font-weight: 700;
}

.comment-timestamp {
  display: flex;
  flex-direction: flex-start;
  padding: 0 10px;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 700;
  color: gray;
}

.modal-actions-container .operations-container {
  width: 95%;
  padding: 2%;
  bottom: 0;
  border: solid thin #DFDFDF;
}

.like-and-tips-container {
  padding: 0 2% 2% 2%;
  display: flex;
  flex-direction: column;
}

.like-and-tips-operations {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding-bottom: 2%;
}

.like-and-comment-container {
  display: flex;
}

.like-container {
  border-radius: 5px;
}

.like-container:hover {
  background-color: #2A52BE;
  cursor: pointer;
}

.comment-container {
  border-radius: 5px;
  margin-left: 10px;
}

.comment-container:hover {
  background-color: #2A52BE;
  cursor: pointer;
}

.tip-container {
  border-radius: 5px;
}

.tip-container:hover {
  background-color: #2A52BE;
  cursor: pointer;
}

.like-and-tips-number {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2% 2px;
  font-weight: 600;
  font-size: 16px;
}

.create-comment-container {
  display: flex;
  flex-direction: row;
}

.textarea {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none;
  flex: 8;
}

.post-button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.post-button-container:hover {
  cursor: pointer;
}

.post-button-container:hover .post-button {
  color: #77c3ec;
}

.post-button {
  font-weight: bold;
  font-size: 1em;
  color:#2A52BE;
  padding: 0;
}

.modal-image-left {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image-right {
  width: 10%;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 1%;
  font-size: 32px;
  font-weight: bold;
}

.left-button {
  color: #ffffff;
  font-size: 400%;
  font-weight: bold;
}

.left-button:hover {
  color: #596378;
  cursor: pointer;
}

.right-button {
  color: #ffffff;
  font-size: 400%;
  font-weight: bold;
}

.right-button:hover {
  color: #596378;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
